#exit_popUp{
	background-color: #FFFFFF;
	margin-left:32%;
	margin-top:20%;
	width:40%;
	height:32%;
	-moz-border-radius: 5px;
	-ms-border-radius:5px; 
	-o-border-radius:5px; 
	-webkit-border-radius:5px; 
	border-radius:5px;	
	border:1px solid black;
	box-shadow: 1px 1px 1px #000000;
	-webkit-box-shadow: 1px 1px 1px #000000;
	-moz-box-shadow: 1px 1px 1px #000000;	
	-ms-box-shadow: 1px 1px 1px #000000;	
	-o-box-shadow: 1px 1px 1px #000000;	
}
#exit_image{
	width:10%;
	height:20%;
	margin-top:4%;
	margin-left:45%;
	font-weight:bold;
	background: url("../media/images/exit.jpg") no-repeat;
	-moz-background-size:100% 100%; /* Old Firefox */
	background-size:100% 100%;	
}

#exit_text{
	padding-top:8%;
	height:20%;
	width: 85%; 
	position:relative;
	font: bold 16px  Imago, Arial, Helvetica, sans-serif;
	text-align:center;
	color:#666666;
	border-bottom: 2px dashed #CCCCCC;
	margin-left:auto;
	margin-right:auto
	
/*left:30px;*/
}
#exit_yesBtn{
	/*background: url("../media/images/btn_yes_bg.png") no-repeat;*/
	margin-top:5%;
	margin-left:35%;
	padding:6px;
	padding-top:4px;
	padding-bottom:4px;
	cursor: pointer;
	float:left;
	font: bold 13px Verdana;
	text-align:center;
}
#exit_yesBtn:hover{
	/*background: url("../media/images/btn_yes_bg_rollover.png") no-repeat;*/
	background-color: #FE6D6D;
	color: #FFFFFF;
	font-weight:bold;	
}
#exit_NoBtn{
/*background: url("../media/images/btn_yes_bg.png") no-repeat;*/
	margin-top:5%;
	margin-left:10%;
	padding:6px;
	padding-top:4px;
	padding-bottom:4px;
	cursor: pointer;
	float:left;
	font: bold 13px Verdana;
	text-align:center;
}
#exit_NoBtn:hover{
/*background: url("../media/images/btn_yes_bg_rollover.png") no-repeat;*/
	background-color: #FE6D6D;
	color: #FFFFFF;
	font-weight:bold;	
}
#exit_popUpContaier{
	position:absolute;
	width: 100%;
	height:100%;
}
		
		
#popupClose{    
    font-size:20px;    
    line-height:20px;    
    position:absolute;  
    right:6px;    
    top:4px;    
    font-weight:700;   
    display:block;    
	cursor:pointer;
}
#help_popUp{
	position:absolute;
	margin-top: 0px;
	margin-left: 0px;	
	width: 100%;
	height: 100%;	
	/*background: url("../media/images/help.png") no-repeat;*/
	background-size: 100% 100%;
}


.helptext{
	position:absolute;
	background-color: #333333;
	padding-top: 0.5%;
	padding-bottom: 0.5%;
	padding-left: 1%;
	padding-right: 1%;
	font:bold 12px Arial;
	color:#FFFFFF;

}
.helptext1{
	left:6%;
	top:37.5%;
	visibility: hidden;
}
.helptext2{
	left:42%;
	top:22.5%;
	visibility: hidden;
}
.helptext3{
	left:68%;
	top:22.5%;
	visibility: hidden;
}
.helptext4{
	left:80%;
	top:29%;
	visibility: hidden;
}
.helptext5{
	left:86%;
	top:35.5%;
	visibility: hidden;
}
.helptext6{
	left:74%;
	top:47.2%;
	visibility: hidden;
}

.helptext7{
	left:72%;
	top:53.4%;
	visibility: hidden;
}

.helptext8{
	left:65%;
	top:60%;
	visibility: hidden;
}
.helptext9{
	left:57%;
	top:65.7%;
	visibility: hidden;
}
.helptext10{
	left:59%;
	top:78.7%;
	visibility: hidden;
}
.helptext11{
	left:9%;
	top:79.4%;
	visibility: hidden;
}
.helptext12{
	left:6%;
	top:73%;
	visibility: hidden;
}

.help_Inst{
	position:absolute;
	background-color: #FFFFFF;
	padding-top: 1%;
	padding-bottom: 1%;
	padding-left: 3%;
	padding-right: 3%;
	font:bold 13px Arial;
	color:#0267CC;
	left:32%;
	top:46.5%;
	border-width:2px;
	border-style:solid;
	border-color:#CCCCCC;
	visibility: hidden;
}
		