.ui-progressbar { height:0.5em; text-align: left; overflow: hidden;border:solid 1px;}
.ui-progressbar .ui-progressbar-value {height:100%; }
.ui-progressbar .ui-progressbar-value { background-image: url(../media/images/pbar-ani.gif); }
#progressbar {
	margin-top: 2%;
	width: 100%;
	height: 80%;
	position:relative;
	font-weight:bold;
}
#logoContainer {
	/*background: url("../media/images/logo.png") no-repeat;*/
	width:100%;
	height:78%;
}
#headerbuttons {
	/*background: url("../media/images/logo.png") no-repeat;*/
	width:100%;
	height: 20%;
}
#footerbuttons {
	width: 100%;
	height: 75%;
	/*margin-top: 1.15%;*/
	margin-top: 1.2%;
}

@font-face {
	font-family: VerdanaBoldCustom;
	src: url("media/font/verdanab.ttf");
}

@font-face {
	font-family: VerdanaCustom;
	src: url("media/font/verdana.ttf");
}

#courseTitle {
	clear:both;
	float:left;
	font-family: VerdanaBoldCustom,  Arial;
	padding-top: 0%;
	padding-left: 2%;
	display: block;
	font-weight:bold;
	font-size:120%;
	color: #000000;
}
#logo {
	padding-top:2.7%;
	margin-right:3.2%;
	float:right;
	display: block;
}
#pgTitleFrame {
	clear:both;
	float:left;
	padding-top: 1.5%;
	padding-left: 1%;
	display: block;
	color:#333333;
	font-size:95%;
}
#clsExitBtn {
	background: url("../media/images/btn_exit.png") no-repeat;
	width: 5.5%;
	height: 97%;
	top:10%;
	margin-right:3%;
	/*padding-left:1%;
	padding-right:1%;
	padding-top: 0.5%;*/
	float:right;
	font-weight:bold;
	font-size:95%; 
	text-align:center;
	color:#333333;
	cursor:pointer;
	background-size:100% 100%;

}
#clsExitBtn:hover {
	background: url("../media/images/btn_exit_rollover.png") no-repeat;
	width: 5.5%;
	height: 97%;
	top:10%;
	margin-right:3%;
	/*background-color: #FE6D6D;*/
	color: #FFFFFF;
	font-weight:bold;
	float:right;
	font-size:95%; 
	text-align:center;
	color:#333333;
	cursor:pointer;
	background-size:100% 100%;
}
.spacer {
	float:right;
	height:90%;
	width:1%;
	padding-top: 0.1%;
	font-weight:bold;
	font-size:125%; 
	text-align:center;
	color:#CBCBCB;
}
#clsHelpBtn {
	background: url("../media/images/btn_help.png") no-repeat;
	background-size: 100% 100%;
	/*padding-left:1%;
	padding-right:1%;
	padding-top: 0.5%;*/
	width:7.1%;
	height:68%;
	float:left;
	font-weight:bold;
	font-size:95%; 
	text-align:center;
	color:#333333;
	cursor:pointer;
	
}
#clsHelpBtn:hover {
	background: url("../media/images/btn_help_rollover.png") no-repeat;
	/*background-color: #FE6D6D;*/
	color: #FFFFFF;
	font-weight:bold;
	background-size:100% 100%;
}
#clsHelpBtn.highlight {
	/*background: url("../media/images/btn_resources.png") no-repeat;*/
	background: #FF0000;
	color: #FFFFFF;
    filter: alpha(opacity=50);  
    -moz-opacity: 0.5;  
    -khtml-opacity: 0.5;  
	-webkit-opacity: 0.5;
    opacity: 0.5; 	
}
#clsMnuBtn {
	background: url("../media/images/btn_menu.png") no-repeat;
	width:7.2%;
	height:68%;
	/*padding-top: 0.5%;
	padding-left:1%;
	padding-right:1%;*/
	float:left;
	font-weight:bold;
	font-size:95%; 
	text-align:center;
	color:#333333;
	cursor:pointer;
	margin-left:2%;
	background-size:100% 100%;
}
#clsMnuBtn:hover {
	background: url("../media/images/btn_menu_rollover.png") no-repeat;
	/*background-color: #FE6D6D;*/
	color: #FFFFFF;
	font-weight:bold;
	background-size:100% 100%;
}

#clsAudioOnBtn{
	background: url("../media/images/btn_audio_on.png") no-repeat;
	width:3%;
	height:80%;
	margin-left:2%;
	cursor:pointer;
	float:left;
	z-index:1000;
	background-size:100% 100%;
}
#clsAudioOnBtn:hover{
	background: url("../media/images/btn_audio_on_rollover.png") no-repeat;
	background-size:100% 100%;
}








#clsReplayBtn {
	background: url("../media/images/btn_audio_on.png") no-repeat;
	width:35px;
	height:27px;
	/*margin-left:10%;*/
	margin-left:6.5em;
	cursor:pointer;
	float:left;
	z-index:1000;
	display: block;
}

#clsReplayBtn:hover {
	background: url("../media/images/btn_audio_on_rollover.png") no-repeat;
	width:35px;
	height:27px;
}










#clsAudioOffBtn{
	background: url("../media/images/btn_audio_off.png") no-repeat;
	width:3%;
	height:80%;
	margin-left:2%;
	cursor:pointer;
	float:left;
	z-index:1000;
	display: none;
	background-size:100% 100%;
}
#clsAudioOffBtn:hover{
	background: url("../media/images/btn_audio_off_rollover.png") no-repeat;
	background-size:100% 100%;
}
.clsTransOnBtn{
	background: url("../media/images/btn_trancscreept_on.png") no-repeat;
	width:35px;
	height:27px;
	margin-left:1%;
	cursor:pointer;
	float:left;
	z-index:1000;
}

.clsTransOnBtn:hover{
	background: url("../media/images/btn_trancscreept_on_rollove.png") no-repeat;
}

.clsTransOffBtn{
	background: url("../media/images/btn_trancscreept_off.png") no-repeat;
	width:35px;
	height:27px;
	margin-left:1%;
	cursor:pointer;
	float:left;
	z-index:1000;
}
.clsTransOffBtn:hover{
	background: url("../media/images/btn_trancscreept_off_rollov.png") no-repeat;
}
#transcriptbar{
	width:48%;
	height:120%;
	margin-top:-1.5%;
	margin-left:2%;
	float:left;
	z-index:1000;
	font:12px Arial, Helvetica, sans-serif;
	color:#333333;
	padding-left:1%;
	padding-right:1%;
	padding-top:0.5%;
	background-color:#FFFFFF;
}
.clsEnaNxtBtn{
	background: url("../media/images/btn_next.png") no-repeat 0 0;
	width:7.1%;
	height:68%;
	position:relative;
	float:right;
	font-weight:bold;
	margin-right:3%;
	cursor:pointer;
	background-size:100% 100%;
}

.clsDisNxtBtn{
	background: url("../media/images/btn_disNext.png") no-repeat 0 0;
	width:7.1%;
	height:68%;
	position:relative;
	float:right;
	font-weight:bold;
	margin-right:3%;
	cursor:default;
	background-size:100% 100%;
	visibility:hidden;
}
.clsGlowNxtBtn {
	background: url("../media/images/btn_next_ani.gif") no-repeat 0 0;
	width:7.1%;
	height:68%;
	position:relative;
	float:right;
	font-weight:bold;
	margin-right:3%;
	cursor:pointer;
	background-size:100% 100%;
}
.clsEnaNxtBtn:hover {
	background: url("../media/images/btn_next_rollover.png") no-repeat 0 0;
	background-size:100% 100%;
}

.clsEnaBackBtn{
	background: url("../media/images/btn_back.png") no-repeat 0 0;
	width:7.1%;
	height:68%;
	position:relative;
	float:right;
	font-weight:bold;
	cursor:pointer;
	background-size:100% 100%;
}

.clsDisBackBtn{
	background: url("../media/images/btn_disBack.png") no-repeat 0 0;
	width:7.1%;
	height:68%;
	position:relative;
	float:right;
	font-weight:bold;
	cursor:default;
	background-size:100% 100%;
	visibility: hidden;
}

.clsEnaBackBtn:hover{
	background: url("../media/images/btn_back_rollover.png") no-repeat;
	background-size:100% 100%;

}
#clsReplay	
{
	background: url("../media/images/btn_replay.png") no-repeat;
	width:3.6%;
	height:75%;
	margin-left:15%;
	cursor:pointer;
	float:left;
	background-size:100% 100%;
}
#clsReplay:hover	
{
	background: url("../media/images/btn_replay_rollover.png") no-repeat;
	background-size:100% 100%;
}
#clsPageNumber
{
	/*background: url("../media/images/page_numbers.jpg")6px 8px no-repeat;*/
	position:relative;
	float:right;
	font-weight:bold;
	font-family:Arial, Helvetica, sans-serif;
	font-size:95%;
	padding:0.7%;
	color:#999999;
	background-color:#FFFFFF;
	visibility: hidden;
	display: none;
	}
#jp_container_1{
	width:3%;
	height:80%;	
	position:relative;
	float:left;
	margin-right:1%;
	margin-left:1.5%;
}
.clsPreloader{
	position:fixed;
	background:#000;
	width:100%;
	height:100%;
	z-index:999;
	display:block;
}

.clsPreloaderImg{
	position:fixed;
	z-index:1000;
	display:block;
	width:100%;
	height:100%;
}

#clsMediaCntrl{
	clear:both;
	position:relative;
	float:right;
	font-weight:bold;
	padding:2px;
	margin-right:3%;
	border:solid #F00 1px;
}
/* 

#bgPopup - this is referring to the element that will cover the whole page  
behind the popup and above the rest of the page. 
NOTE: if you are using z-index on the same level in the DOM -  
    #bgPopup z-index needs to have the second highest value (behind #Popup) 
*/  
.bgPopup{
	
    display:none;   
    position:fixed;    
    _position:absolute; /* hack for internet explorer 6*/    
    height:100%;    
    width:100%;    
    top:0;    
    left:0;    
    background:#000000;     
    z-index:999;    
} 

/* 

#menuPopup - this is referring to the element that will cover the whole page  
behind the popup and above the rest of the page. 
NOTE: if you are using z-index on the same level in the DOM -  
    #bgPopup z-index needs to have the second highest value (behind #Popup) 
*/  
.menuCover{
    display:none;   
   	position:absolute; /* hack for internet explorer 6*/    
    /*height:71.5%;*/
   	top: 0px;
   	height: 100%;    
    width:100%; 
    z-index:999; 
}
.transparentContainer{
	display: none;
	position: absolute;
	height: 100%;
	width: 100%;
	z-index: 900; 
	background-color:#00FFFF;
	border: 1px solid blue;
}    
  
/* 
#Menu Popup - The popup container 
NOTE: if you are using z-index on the same level in the DOM -  
    #Popup z-index needs to have the highest value. 
*/  
.MenuPopup{    
    display:block;    
    position:relative;    
    background:#FFFFFF;    
    z-index:9999;    
   	width: 27%; 
   	height: auto;
    float: left;
    top: 47%;
} 

/* 

#bgPopup - this is referring to the element that will cover the whole page  
behind the popup and above the rest of the page. 
NOTE: if you are using z-index on the same level in the DOM -  
    #bgPopup z-index needs to have the second highest value (behind #Popup) 
*/  
.bgHelpPopup{
    display:none;   
    position:relative;    
    height:100%;    
    width:100%;    
    top:0;    
    left:0;    
    background:#FFFFFF;     
    z-index:999;   
    border:1px solid red; 
} 
  
.ExitPopup{
	display:block;    
    position:relative;  
    z-index:9999;    
    width:100%;
    height:90%;   
   } 
.HelpPopup{
    position:absolute;  
    z-index:9999;    
    width:100%;
    height:100%;  
    margin-left:0%;
    padding-left:0%;
   }    
.ui-tooltip {
	padding: 3px;
	position: absolute;
	z-index: 9999;
	max-width: 300px;
    background: #4B4B4B;
    color: white;
    font: bold 11px Arial, Helvetica, sans-serif;
    box-shadow: none;
    -webkit-box-shadow: none;
    border-radius:0 0 0 0;
    border:none;
  }  
.nextInst {
    position: absolute;
	left: 82%;
	top: 89.5%;    
	color:#ffffff;
	padding-left:0.6%;
	padding-right:0.6%;
	padding-top:0.3%;
	padding-bottom:0.3%;
	font:95% Verdana, Arial;
    background-color: #6E6E6E;
    display: none;
    text-align: center;
}
.nextInst .notch {
    position: absolute;
    bottom: -10px;
    right: 20px;
    margin: 0;
    border-bottom: 0;
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    border-top: 10px solid #444444;
    padding: 0;
    width: 0;
    height: 0;
} 
#dummyBtn{
	width: 100%; 
	height: 100%;
	position:absolute;
	z-index:1111; 
}
#dummyBtnBk{
	width: 100%; 
	height: 100%;
	position:absolute;
	background-color:#333333;
	filter: alpha(opacity=70);  
    -moz-opacity: 0.7;  
    -khtml-opacity: 0.7;  
	-webkit-opacity: 0.7;
    opacity: 0.7; 
}
 
.clsMnuHelpGap {
	float: left;
	width: 1%;
}

.clsBackNextGap {
	width: 1%;
	position: relative;
	float: right;
	cursor: default;
}

#logo {
	height: 25%;
}


/*
@media (max-device-width: 1280px) and (orientation: landscape) {
	#logo {
		height: 20%;
	}
}

@media (max-device-width: 800px) and (orientation: portrait) {
	#footerbuttons {
		width: 100%;
		height: 75%;
		margin-top: 4.5%;
	}
	#logo {
		height: 25%;
	}
} */

/* Tab Landscape Orientation */
@media (max-device-width: 1280px) and (orientation: landscape)  {
	/*#footerbuttons {
		width: 100%;
		height: 75%;
		margin-top: 1.1%;
	}
	#logo {
		height: 8%;
	}*/
}

/* Tab Portrait Orientation */
@media (max-device-width: 800px) and (orientation: portrait)   {
	#footerbuttons {
		width: 100%;
		height: 75%;
		margin-top: 3.5%;
	}
	#logo {
		height: 70%;
	}
}

/*iPad*/
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) 
and (orientation : portrait) {
	#footerbuttons {
		width: 100%;
		height: 75%;
		margin-top: 2.6%;
	}
	#logo {
		height: 65%;
	}
}

@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) 
and (orientation : landscape) {
	#footerbuttons {
		width: 100%;
		height: 75%;
		margin-top: 1.3%;
	}
	#logo {
		height: 23%;
	}
}

.progressToolTip{
    position: absolute;
    font-family: VerdanaBoldCustom, Arial;
	font-size: 85%;
	width: 9.5%;
	height: 3%;	
	left: 46%;
}

.progressToolTip:hover:after{
    background: #333;
    background: rgba(0,0,0,.8);
    border-radius: 5px;
    bottom: 20px;
    color: #fff;
    content: attr(data);
    padding: 5% 5%;
    position: absolute;
    z-index: 98;
    width: 101%;
    text-align: center;
}

.progressToolTip:hover:before{
    /*border: solid;
    border-color: #333 transparent;
    border-width: 6px 6px 0 6px;
    bottom: 10px;
    content: "";
    left: 50%;
    position: absolute;
    z-index: 99;*/
}
.clsPlay{
	background: url("../media/images/play_nor.png") no-repeat;
	background-size: 100% 100%;
	position: relative;
	width:2%;
	height:65%;
	margin-left:13px;
	margin-top:1px;
	cursor:pointer;
	float:left;
	z-index: 900;
}
.clsPlay:hover{
	background: url("../media/images/play_over.png") no-repeat;
	background-size: 100% 100%;
}

.clsPlayDisable{
	background: url("../media/images/play_nor_disable.png") no-repeat;
	background-size: 100% 100%;
	position: relative;
	width:2%;
	height:65%;
	margin-left:13px;
	margin-top:1px;
	cursor:pointer;
	float:left;
	z-index:900;
}
.clsPlayDisable:hover{
	background: url("../media/images/play_nor_disable.png") no-repeat;
	background-size: 100% 100%;
}

.clsPause{
	background: url("../media/images/pause_nor.png") no-repeat;
	background-size: 100% 100%;
	position: relative;
	width:1.5%;
	height:65%;
	margin-left:13px;
	margin-top:1px;
	cursor:pointer;
	float:left;
	z-index:900;
}
.clsPause:hover{
	background: url("../media/images/pause_over.png") no-repeat;
	background-size: 100% 100%;
}
.player-container{
	margin-left:0px;	
	margin-bottom:1px;
	margin-top:0px;
	height:653px;
	width:940px;
	/*border:solid 1px red;*/
	position:fixed;
}