@charset "utf-8";
/* Simple fluid media
   Note: Fluid media requires that you remove the media's height and width attributes from the HTML
   http://www.alistapart.com/articles/fluid-images/ 
*/
img, object, embed, video {
	max-width: 100%;
}
/* IE 6 does not support max-width so default to width 100% */
.ie6 img {
	width:100%;
}
html{
	height:100%;
}

body{
	height:100%;
	font-family: Arial, Helvetica, sans-serif;
	font-size:95%;
	color:#000;	
	-webkit-overflow-scrolling: touch;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;	
	disabled:disabled;	
}

* {
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;	
	disabled:disabled;	
}
/*
	Dreamweaver Fluid Grid Properties
	----------------------------------
	dw-num-cols-mobile:		5;
	dw-num-cols-tablet:		8;
	dw-num-cols-desktop:	12;
	dw-gutter-percentage:	25;
	
	Inspiration from "Responsive Web Design" by Ethan Marcotte 
	http://www.alistapart.com/articles/responsive-web-design
	
	and Golden Grid System by Joni Korpi
	http://goldengridsystem.com/
*/

/* Mobile Layout: 480px and below. */

.gridContainer {
	margin-left: auto;
	margin-right: auto;
	width: 100%;
	height:100%;
	padding-left: 0%;
	padding-right: 0%;
	/*margin:3% 3% 3% 3%;
	border: 2px solid black;
	position: absolute;*/
	/*-moz-border-radius: 15px;
	-ms-border-radius:15px; 
	-o-border-radius:15px; 
	-webkit-border-radius:15px; 
	border-radius:15px;	
	box-shadow: 2px 2px 2px #000000;
	-webkit-box-shadow: 2px 2px 2px #000000;
	-moz-box-shadow: 2px 2px 2px #000000;	
	-ms-box-shadow: 2px 2px 2px #000000;	
	-o-box-shadow: 2px 2px 2px #000000;*/
	/*background: url(../media/images/main_bg.png) no-repeat;*/
	background-size: 100% 100%;
}
#contentContainer {
	clear: both;
	float: left;
	margin-left: 0;
	width: 100%;
	display: block;
	height: 78%;/*510px;*/
	/*background-color:#FFFFFF;*/
}
#topFrame{
	clear: both;
	background:url(../media/images/Topbar.png) no-repeat;
	float: left;
	margin-left: 0;
	width: 100%;
	display: block;
	height: 14.7%;/*101px;*/
	/*background-color:#FFFFFF;*/
	border-top-left-radius:12px; 
	border-top-right-radius:12px;
	border-bottom: 2px solid #333333;
}
#btmFrame{
	clear: both;
	background:url(../media/images/bottombar.png) no-repeat;
	float: left;
	margin-left: 0;
	width: 100%;
	display: block;
	height: 6%;/*41px;*/
	/*background-color:#F6F6F6;*/
	border-bottom-left-radius:12px; 
	border-bottom-right-radius:12px;
	/*border-top: 2px solid #333333;*/	
}

#contentFrame{
	position:relative;
	clear: both;
	float:left;
	margin-left: 0;
	width: 100%;
	height: 100%;
	display: block;
	overflow: hidden;
	overflow-x: hidden;
	overflow-y: auto;
	background-color: #444444;
}

@font-face {
	font-family: VerdanaBoldCustom;
	src: url("media/font/verdanab.ttf");
}

@font-face {
	font-family: VerdanaCustom;
	src: url("media/font/verdana.ttf");
}

#spnPgTitleTxt{
	font-family: VerdanaCustom, Arial;
	font-size: 110%;
	padding-left: 10px;
	color: #FFFFFF;
}

/* Tablet Layout: 481px to 768px. Inherits styles from: Mobile Layout. */
/*
@media only screen and (min-width: 481px) {
.gridContainer {
	width: 97.5%;
	padding-left: 1.25%;
	padding-right: 1.25%;
}
#contentContainer {
	clear: both;
	float: left;
	margin-left: 0;
	width: 100%;
	display: block;
	height: 80%;
	max-height:536px;
	background-color:#0FF;
}
#topFrame{
	clear: both;
	background:url(../media/images/Topbar.png) no-repeat;
	float: left;
	margin-left: 0;
	width: 100%;
	max-width:1014px;
	display: block;
	height: 10.74%;
	max-height:70px;
	background-color:#CF3;
}
#btmFrame{
	clear: both;
	background:url(../media/images/bottombar.png) no-repeat;
	float: left;
	margin-left: 0;
	width: 100%;
	display: block;
	height: 6.90%;
	max-height:45px;
	background-color:#FC0;
}
#pgTitleFrame{
	clear:both;
	float:left;
	margin-left: 0px;
	padding: 5px 0 5px 0;
	width: 100%;
	display: block;
	height: 4%;
	max-height:20px;
	border-bottom: solid 1px #333333;
	font-weight:bold;
	font-size:16px;
}
#contentFrame{
	clear: both;
	float:left;
	margin-left: 0;
	width: 100%;
	height: 96%;
	max-height:507px;
	display: block;
	overflow: hidden;
	overflow-x: hidden;
	overflow-y: auto;
}
}*/

/* Desktop Layout: 769px to a max of 1232px.  Inherits styles from: Mobile Layout and Tablet Layout. */
/*
@media only screen and (min-width: 769px) {
.gridContainer {
	width: 98.3333%;
	max-width: 1024px;
	padding-left: 0.8333%;
	padding-right: 0.8333%;
	margin: auto;
}
#contentContainer {
	clear: both;
	float: left;
	margin-left: 0;
	width: 100%;
	max-width:1014px;
	display: block;
	height: 82.36%;
	max-height:537px;
	background-color:#0FF;
}
#topFrame{
	clear: both;
	background:url(../media/images/Topbar.png) no-repeat;
	float: left;
	margin-left: 0;
	width: 100%;
	max-width:1014px;
	display: block;
	height: 10.74%;
	max-height:70px;
	background-color:#CF3;
}
#btmFrame{
	clear: both;
	background:url(../media/images/bottombar.png) no-repeat;
	float: left;
	margin-left: 0;
	width: 100%;
	display: block;
	height: 6.90%;
	max-height:45px;
	background-color:#FC0;
}
#pgTitleFrame{
	clear:both;
	float:left;
	margin-left: 0px;
	padding: 5px 0 5px 0;
	width: 100%;
	display: block;
	height: 4%;
	max-height:20px;
	border-bottom: solid 1px #333333;
	font-weight:bold;
	font-size:16px;
}
#contentFrame{
	clear: both;
	float:left;
	margin-left: 0;
	width: 100%;
	height: 96%;
	max-height:507px;
	display: block;
	overflow: hidden;
	overflow-x: hidden;
	overflow-y: auto;
}
}*/