		/*=============================================
			START : CSS for Accordion Menu section
		===============================================*/
		#accordion-menu-wrapper {  margin:0; padding: 0;   margin-left: -1px; width: 100.2%; min-height: 300px; }
		#accordion-menu-wrapper ul { margin:0; padding: 0; }
		#accordion-menu-wrapper ul.sliding-section {border:1px solid #00ccff;background: url(../media/images/sub-menu-bg.png) repeat-x scroll left top #FFFFFF; border-top: 0px solid;display: none;}
		#accordion-menu-wrapper ul.toggle-list {padding-left: 0%; display: none;}
		#accordion-menu-wrapper ul.toggle-list li a {
			font-weight: normal; 
			border: 1px solid #A7A7A7;
			padding-left: 10%;
		}
		#accordion-menu-wrapper ul.toggle-list li div span#completion {
			display: block;
			background:url(../media/images/menu-status-visited.png) no-repeat left center; 
			width: 4%;
			height:15px;
			float: left;
			margin-left:3%;
			margin-top:2.5%;
			visibility: hidden;
			}
		#accordion-menu-wrapper ul.toggle-list li div span#completion.visible{
			display: block;
			background:url(../media/images/menu-status-visited.png) no-repeat left center; 
			width: 7%;
			height:15px;
			float: left;
			margin-left:2%;
			margin-top:2.5%;
			visibility: visible;
		}
		#accordion-menu-wrapper ul.toggle-list li div span#completion.current{
			display: block;
			background:url(../media/images/arrow.png) no-repeat left center; 
			width: 4%;
			height:15px;
			float: left;
			margin-left:3%;
			margin-top:2.5%;
			visibility: visible;
		}
		#accordion-menu-wrapper ul.toggle-list li div span#bulletstyle {
			visibility: hidden;
			display: none;
			/*background:url(../media/images/sub-menu-sel-bullet.png) no-repeat left center; 
			width: 3%;
			height:20px;
			float: left;
			margin-left:1.5%;
			margin-right:1%;
			margin-top:1.5%;*/
			width: 0%;
			height: 0%;
		}

		#accordion-menu-wrapper ul ul ul { margin-left: 15px;}

		#accordion-menu-wrapper li {list-style: none outside;}
		#accordion-menu-wrapper ul ul li, #accordion-menu-wrapper ul ul ul li { background-image: none; }

		#accordion-menu-wrapper ul li a { color: #333333; text-decoration: none; display: block; line-height: 30px;font-weight: bold; outline:none;}
		#accordion-menu-wrapper ul li a span { display: block; background:url(../media/images/menu-bullet.png) no-repeat left center; }
		#accordion-menu-wrapper ul li a.toggle-link-main span,
		#accordion-menu-wrapper ul li a.toggle-link-sub span {
			padding-left: 2%; 
			border: 3px solid #A7A7A7;
			
		}
		#accordion-menu-wrapper ul li a.toggle-link-sub span div {
			display: block;
			/*background:url(../media/images/sub-menu-bullet.png) no-repeat left center;*/ 
			width: 4%;
			height:20px;
			float: left;
			margin-top:1%;
			margin-right:1%;
		}
		
		#accordion-menu-wrapper ul li a.main-link:hover,
		#accordion-menu-wrapper ul li a.toggle-link-main:hover{background:url(../media/images/menu-head-bg-ovr.png) repeat-x left center; border:1px solid #00ccff; padding: 0px;}		
		#accordion-menu-wrapper ul ul a { padding-left: 15px; font-size: 13px; line-height: 2 }
		#accordion-menu-wrapper ul ul a:hover { color: #333333;}
		#accordion-menu-wrapper ul ul li a.toggle-link-sub span{ padding-left: 5px; }
		#accordion-menu-wrapper ul ul ul li a { background:url(../media/images/menu-bullet.png) no-repeat left center; }
		#accordion-menu-wrapper ul ul ul li a:hover { background:url(../media/images/sub-menu-sel-bullet.png) no-repeat left center; }
		/*-------- Style for Active accordion Link -----------*/
		#accordion-menu-wrapper ul li a.active-toggle-link-main { background:url(../media/images/menu-head-bg-ovr.png) repeat-x left center; border:1px solid #00ccff; padding: 0px; }
		#accordion-menu-wrapper ul li#selected a.main-link { background:url(../media/images/menu-head-bg-ovr.png) repeat-x left center; border:1px solid #00ccff; padding: 0px; }
		/*
		#accordion-menu-wrapper ul li a.active-toggle-link-main span{ background:url(../media/images/sub-menu-bullet-down.png) no-repeat 0px 50%;}
		*/
		#accordion-menu-wrapper ul li a.active-toggle-link-sub span{ 
			background:url(../media/images/sub-menu-bullet-down.png) no-repeat 0px 50%;
			background-position:2%;
			border: 1px solid #000;
			}
		#accordion-menu-wrapper li#selected a {color:#00000;}

		#accordion-menu-wrapper a#visited {color:#000000;}
	
		#accordion-menu-wrapper ul li ul li a.child-toggle-link-sub span { background:url(../media/images/sub-menu-bullet.png) no-repeat left center; padding-left: 15px; }
		#accordion-menu-wrapper ul li ul li a.active-child-toggle-link-sub span{ background:url(../media/images/sub-menu-bullet-down.png) no-repeat 0px 50%;}
		
		
		#accordion-menu-wrapper ul li a.LessonGradient span {
			background: #444444; /* Old browsers */
			/* IE9 SVG, needs conditional override of 'filter' to 'none' */
			background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNlNWU1ZTUiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
			background: -moz-linear-gradient(top,  #444444 0%, #d0d0d0 100%); /* FF3.6+ */
			background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#444444), color-stop(100%,#d0d0d0)); /* Chrome,Safari4+ */
			background: -webkit-linear-gradient(top,  #444444 0%,#d0d0d0 100%); /* Chrome10+,Safari5.1+ */
			background: -o-linear-gradient(top,  #444444 0%,#d0d0d0 100%); /* Opera 11.10+ */
			background: -ms-linear-gradient(top,  #444444 0%,#d0d0d0 100%); /* IE10+ */
			background: linear-gradient(to bottom,  #444444 0%,#d0d0d0 100%); /* W3C */
			filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#444444', endColorstr='#d0d0d0',GradientType=0 ); /* IE6-8 */			
		}
		
		#accordion-menu-wrapper ul li a.LessonGradient span div.menu_close {
			/*background: url( ../media/images/Menu/btnmenu_close.png );*/
			background-repeat: no-repeat;
			background-size: 100% 100%;
			margin-top: 3%;
			width: 14px;
			height: 14px;
			float: right;
		}
		
		#accordion-menu-wrapper ul li a.LessonGradient span div.menu_close:hover {
			background: url( ../media/images/Menu/btnmenu_close_over.png );
			background-repeat: no-repeat;
			background-size: 100% 100%;
			margin-top: 3%;
			width: 14px;
			height: 14px;
			float: right;
		}
		
		.pageSelect {
			background: #ffffff; /* Old browsers */
			/* IE9 SVG, needs conditional override of 'filter' to 'none' */
			background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNlNWU1ZTUiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
			background: -moz-linear-gradient(top,  #ffffff 0%, #e5e5e5 100%); /* FF3.6+ */
			background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(100%,#e5e5e5)); /* Chrome,Safari4+ */
			background: -webkit-linear-gradient(top,  #ffffff 0%,#e5e5e5 100%); /* Chrome10+,Safari5.1+ */
			background: -o-linear-gradient(top,  #ffffff 0%,#e5e5e5 100%); /* Opera 11.10+ */
			background: -ms-linear-gradient(top,  #ffffff 0%,#e5e5e5 100%); /* IE10+ */
			background: linear-gradient(to bottom,  #ffffff 0%,#e5e5e5 100%); /* W3C */
			filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#e5e5e5',GradientType=0 ); /* IE6-8 */			
		}		
		
#popupClose{    
    font-size:20px;    
    line-height:20px;    
    position:absolute;  
    right:6px;    
    top:4px;    
    font-weight:700;   
    display:block;    
	cursor:pointer;
}

