div.pg-pageContent{
	position: absolute;
	width:100%;
	height:100%; 
	/*max-height:428px;
	max-width:953px;*/
}
div.title {
	font-family: VerdanaBoldCustom, Arial;
	color: #FFFFFF;
	visibility: visible;
	font-weight: bold;
}
