#yp-admin-pages {
/**/
#yp-page-container {
  background-image: url("/assets/images/admin-bg-image.png");
  background-size: auto 317px;
  background-repeat: repeat-x;
  background-position: top left;
  background-color: #fbfbff;
}
/**/

/* #region Dashboard */
.yp-admin-dashboard-stat-boxes {
  margin-bottom: 25px;
}
.yp-admin-dashboard-stat-box {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100%;
  padding: 18px 22px;
  /* background-color: #FAFAFA; */
  background: linear-gradient(180deg, #FFFFFF 59.62%, #FAFAFA 100%);
  border: 1px solid #ECECEC;
  border-radius: 10px;
  box-shadow: 0px 2px 10px 5px rgb(0 0 0 / 5%);
}
  .yp-admin-dashboard-stat-box .yp-admin-dashboard-stat-box-icon {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-shrink: 0;
      width: 56px;
      height: 56px;
      background: linear-gradient(223.32deg, #A17EB8 2.77%, rgba(117, 86, 136, 0.8) 35.96%, #482F58 100%);
      box-shadow: 4px 6px 15px 0px rgb(0 0 0 / 15%);
      border-radius: 6px;
  }

.yp-admin-dashboard-stat-box .yp-admin-dashboard-stat-box-info {
    text-align: right;
}
.yp-admin-dashboard-stat-box .yp-admin-dashboard-stat-box-count {
    font-size: 38px;
    line-height: 38px;
    font-weight: 600;
    color: #7B7B7B;
    margin-bottom: 2px;
}
.yp-admin-dashboard-stat-box .yp-admin-dashboard-stat-box-name {
    font-size: 14px;
    line-height: normal;
    font-weight: 400;
    color: #737373;
}
.yp-admin-dashboard-stat-box .yp-dash-icon-purple {
  background: linear-gradient(223.32deg, #A17EB8 2.77%, rgba(117, 86, 136, 0.8) 35.96%, #482F58 100%);
}
.yp-admin-dashboard-stat-box .yp-dash-icon-blue {
  background: linear-gradient(210.64deg, #99D7FF 1.6%, #388ABF 100.06%);
}
.yp-admin-dashboard-stat-box .yp-dash-icon-green {
  background: linear-gradient(210.64deg, #AACF79 12.96%, #749646 70.71%);
}
.yp-admin-dashboard-stat-box .yp-dash-icon-orange {
  background: linear-gradient(210.64deg, #FFB968 12.96%, #CF7F24 100.06%);
}

/* Leaderboard */
.yp-card.yp-admin-dashboard-leaderboard-card {
  display: flex;
  flex-direction: column;
  padding: 40px 50px;
}
.yp-admin-dashboard-leaderboard-box {
    display: flex;
    flex-direction: column;
    gap: 22px;
}
.yp-leaderboard-search-box {
    display: flex;
    width: 100%;
    max-width: 450px;
    align-self: center;
}
  .yp-leaderboard-search-box .yp-form-control-with-icon {      
      width: 100%;
  }
.yp-leaderboard-result-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.yp-leaderboard-result-default {
    text-align: center;
}
  .yp-leaderboard-result-default img {
      max-width: 100%;
      max-height: 220px;
      margin: 30px 0px;
  }
  .yp-leaderboard-result-default p {
      font-size: 18px;
      font-weight: 300;
      color: #333333;
      margin-bottom: 0px;
  }

.yp-leaderboard-winners-box {
  display: flex;
  align-items: flex-end;
  justify-content: center;
  width: 100%;
  margin-top: 100px;
  margin-bottom: 35px;
}
  .yp-leaderboard-winners-box .yp-leaderboard-winner {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    flex-grow: 0;
    flex-shrink: 1;
    text-align: center;
    padding: 52px 16px 22px;
    max-width: 33%;
    flex-basis: 150px;
  }
  .yp-leaderboard-winners-box .yp-leaderboard-winner:first-child {
    background-color: #EEEEEE;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
  }
  .yp-leaderboard-winners-box .yp-leaderboard-winner:nth-child(2) {
    background-color: #fbeeab;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    padding: 71px 20px 22px;
    box-shadow: 0px 2px 6px 0px rgba(0, 0, 0, 0.15);
    max-width: 33%;
    flex-basis: 168px;
  }
    .yp-leaderboard-winners-box .yp-leaderboard-winner:nth-child(2) img {
      position: absolute;
      top: -100px;
      max-width: 88px;
    }
  .yp-leaderboard-winners-box .yp-leaderboard-winner:last-child {
    background-color: #f4d8c4;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
  }
    .yp-leaderboard-winners-box .yp-leaderboard-winner:first-child img,
    .yp-leaderboard-winners-box .yp-leaderboard-winner:last-child img {
      position: absolute;
      top: -50px;
      max-width: 72px;
    }
  .yp-leaderboard-winners-box .yp-leaderboard-winner .yp-leaderboard-winner-score {
      background-color: #FBFBFB;
      font-size: 13px;
      font-weight: 400;
      color: #333333;
      padding: 3px 12px;
      border-radius: 22px;

      white-space: nowrap;
  }
  .yp-leaderboard-winners-box .yp-leaderboard-winner .yp-leaderboard-winner-score strong {
    color: #482F58;
    font-weight: 600;
  }
  .yp-leaderboard-winners-box .yp-leaderboard-winner .yp-leaderboard-winner-name {
      font-size: 13px;
      font-weight: 500;
      color: #333333;
      white-space: nowrap;
      max-width: 100%;
      text-overflow: ellipsis;
      overflow: hidden;
  }
  .yp-leaderboard-winners-box .yp-leaderboard-winner.yp-leaderboard-winner-disabled {
    opacity: 0.4;
    cursor: not-allowed;
  }


/* Chart */
.yp-dashboard-cards-wrapper {
  display: flex;
  flex-direction: column;
  height: 100%;
}
.yp-dashboard-cards-wrapper .yp-card {
  flex-grow: 1;
}

.yp-admin-dashboard-activities-card .yp-tabs .nav-item {
    flex-grow: 1;
}
.yp-admin-dashboard-activities-card .yp-tabs .nav-link {
    width: 100%;
}
.yp-admin-dashboard-activities-card .yp-tabs + .tab-content>.tab-pane {
    padding: 0px 0px;
}
.yp-admin-dashboard-activities-card .yp-tabs + .tab-content>.tab-pane.active {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
}

.yp-card.yp-admin-dashboard-activities-card {
  display: flex;
  flex-direction: column;
  padding: 0px;
}
  .yp-card.yp-admin-dashboard-activities-card .tab-content {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
  }
.yp-admin-chart-box-wrapper {
  padding: 20px;
}
.yp-admin-chart-box-label-wrapper {  
  position: relative;
  padding-left: 40px;
  padding-right: 10px;
}

.yp-admin-chart-legends {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  align-items: center;
  row-gap: 10px;
  column-gap: 20px;
  margin-bottom: 15px;
}
  .yp-admin-chart-legends .yp-admin-chart-legend {
    display: flex;
    gap: 5px;
  }
  .yp-admin-chart-legends .yp-admin-chart-legend-color {
    width: 18px;
    height: 18px;
    border-radius: 3px;
  }
  .yp-admin-chart-legends .yp-admin-chart-legend-text {
    font-size: 12px;
    line-height: 18px;
    font-weight: 400;
    color: #333333;
  }

.yp-admin-chart-xy-labels {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;    
    margin-top: 15px;
}
  .yp-admin-chart-xy-labels .yp-admin-chart-xy-label {
    font-size: 12px;
    font-weight: 500;
    color: #8F6CB3;
    background-color: #f9f9fa;
    padding: 7px 18px;
    border-radius: 20px;
  }
  .yp-admin-chart-xy-labels .yp-admin-chart-x-label {
    margin-left: 87px;
  }
  .yp-admin-chart-xy-labels .yp-admin-chart-y-label {
    position: absolute;
    left: 0px;
    top: 50%;
    transform: translateY(-50%);
    margin-top: -16px;
    writing-mode: sideways-lr;
    text-orientation: mixed;
    padding: 18px 7px;
  }

.yp-admin-chart-box .yp-admin-chart-row {
    display: flex;
    align-items: center;
    width: 100%;
}
.yp-admin-chart-box .yp-admin-chart-row .yp-admin-chart-col-title {
  width: 87px;
  padding: 0px 10px;
  flex-shrink: 0;
}
  .yp-admin-chart-box .yp-admin-chart-row .yp-admin-chart-col-title p {
    margin: 0px;
    max-width: 67px;
    font-size: 12px;
    color: #333333;

    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;  
    overflow: hidden;
  }
.yp-admin-chart-box .yp-admin-chart-row .yp-admin-chart-col-progress {
  display: flex;
  align-items: center;  
  gap: 10px;
  width: 100%;
  padding: 10px 0px;
  border-left: 1px solid #D9D9D9;
}
.yp-admin-chart-box .yp-admin-chart-row:first-child .yp-admin-chart-col-progress {
  padding-top: 20px;
}
.yp-admin-chart-box .yp-admin-chart-row:last-child .yp-admin-chart-col-progress {
  padding-bottom: 20px;
}
.yp-admin-chart-box .yp-admin-chart-row:first-child .yp-admin-chart-col-title p {
  margin-top: 10px;
}
.yp-admin-chart-box .yp-admin-chart-row:last-child .yp-admin-chart-col-title p {
  margin-top: -10px;
}

  .yp-admin-chart-box .yp-admin-chart-row  .yp-admin-chart-col-progress .yp-admin-chart-total-progress {
    position: relative;
    display: flex;
    align-items: center;
    width: 0%;
    height: 30px;
    background-color: #EBE9ED;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;

    transition: width 1s ease-in-out;
  }
    .yp-admin-chart-box .yp-admin-chart-row  .yp-admin-chart-col-progress .yp-admin-chart-total-progress .yp-admin-chart-total-progress-count {
      position: absolute;
      left: 100%;
      font-size: 12px;
      padding-left: 13px;
    }
    .yp-admin-chart-box .yp-admin-chart-row  .yp-admin-chart-col-progress .yp-admin-chart-actual-progress {
      position: relative;
      display: flex;
      align-items: center;
      width: 0px;
      height: 100%;
      background-color: #B49ECA;      
      background: linear-gradient(180deg, #B49ECA 0%, #B49ECA 50%, #AA93C2 66.83%, #A48FB9 100%);
      
      // background-image: linear-gradient(
      //   45deg,
      //   rgba(255, 255, 255, 0.15) 25%,
      //   transparent 25%,
      //   transparent 50%,
      //   rgba(255, 255, 255, 0.15) 50%,
      //   rgba(255, 255, 255, 0.15) 75%,
      //   transparent 75%,
      //   transparent
      // );
      // background-size: 40px 40px;
      // animation: moveStripes 1s linear infinite;

      transition: width 1s ease-in-out;
      transition-delay: 1s;
    }
    .yp-admin-chart-box .yp-admin-chart-row.no-transition  .yp-admin-chart-col-progress .yp-admin-chart-actual-progress,
    .yp-admin-chart-box .yp-admin-chart-row.no-transition  .yp-admin-chart-col-progress .yp-admin-chart-total-progress {
      transition: none;
    }

@keyframes moveStripes {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: 40px 0;
  }
}

.yp-admin-chart-box .yp-admin-chart-row .yp-admin-chart-col-progress .yp-admin-chart-progress-count {
  position: absolute;
  right: -18px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 52px;
  height: 52px;
  background: rgba(169, 146, 191, 0.2);
  border-radius: 100%;
}
  .yp-admin-chart-box .yp-admin-chart-row .yp-admin-chart-col-progress .yp-admin-chart-progress-count span {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 36px;
    height: 36px;
    background-color: #ffffff;

    font-size: 11px;
    font-weight: 600;
    
    color: #505050;
    border-radius: 100%;
    border: 5px solid #B49ECA;
    box-shadow: 0px 0px 4px 0px rgb(0 0 0 / 40%);        
  }

.yp-admin-chart-x-axis {
  position: relative;
  display: flex;
  margin-left: 87px;
  justify-content: space-between;
  border-top: 1px solid #d9d9d9;
}
  .yp-admin-chart-x-axis .yp-admin-chart-x-tick {
    position: relative;
    font-size: 11px;
    font-weight: 400;
    color: #333333;
    padding-top: 5px;
  }
  .yp-admin-chart-x-axis .yp-admin-chart-x-tick::before {
    content: '';
    position: absolute;
    top: -1px;
    right: 0px;
    width: 1px;
    height: 6px;
    background-color: #d9d9d9;
  }
  .yp-admin-chart-x-axis .yp-admin-chart-x-tick:first-child::before {
    left: 0px;
  }
  .yp-admin-chart-x-axis .yp-admin-chart-x-tick:last-child::before {
    left: auto;
    right: 0px;
  }

.yp-admin-chart-box-no-data {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
}
  .yp-admin-chart-box-no-data p {
    font-size: 18px;
    font-weight: 300;
    color: #333333;
    margin-bottom: 0px;
}
/* #endregion Dashboard */

/* #region Page Add Course */
.yp-course-window-settings-wrapper {
  gap: 30px;
}
  .yp-course-window-settings-wrapper > div:not(:last-child)::after {
    content: '';
    position: absolute;
    top: 0px;
    right: -15px;
    width: 1px;
    height: 100%;
    border-right: 1px dashed #CED2DA;
  }
.yp-course-window-settings-wrapper > div {
  position: relative;
  padding: 0px 10px;
}

/* File Upload */
#yp-pointURLDiv .yp-form-control {
  border-style: dashed;
}
/* #endregion Page Add Course */

/* #region One Time Assignment */
.yp-days-after-wrapper {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 10px;
}
.yp-days-after-wrapper .form-label {
  margin: 0px;
  padding-right: 10px;
}
.yp-days-after-wrapper .yp-width-60-px .yp-form-control {
  padding-left: 15px;
  padding-right: 15px;
}

#tabSelectActivityContent .yp-table-top-search-section {
  padding-top: 0px;
}
/* #endregion One Time Assignment */

/* #region Configure Profile Definition */
.yp-config-profile-top-email-section-label {
  margin-top: 8px;
}
.yp-config-profile-top-email-section {
  width: 0px;
  height: 0px;
  opacity: 0;
  transform: translateX(-10px);
  overflow: hidden;
  transition: opacity 0.5s ease, transform 0.5s ease, height 0.5s ease;
}
.yp-config-profile-top-email-section.open {
  width: auto;
  height: auto; /* pick something larger than content height */
  opacity: 1;
  transform: translateX(0);
}

#yp-table-top-search-section-MANAGE_ADMIN_LEARNING_PATH .yp-advanced-search-card {
  width: 75%;
}
/* #endregion Configure Profile Definition */

/* #region Learners Progress Report */
.yp-reports-date-filters-rows {
  display: flex;
  flex-direction: column;
  row-gap: 25px;
}

#yp-custom-pagination-REPORT_LEARNER_PROGRESS {
  margin-bottom: 0px;
}

.yp-learner-progress-report-completion-status-section .form-group {
  margin-bottom: 30px;
}
/* #endregion Learners Progress Report */

/* #region Pending Approvals */
#yp-table-top-search-section-PENDING_APPROVALS .yp-advanced-search-card {
    width: 75%;
}
/* #endregion Pending Approvals */

}
/*******************************************************************************/
/*******************************************************************************/
/*******************************************************************************/
/*******************************************************************************/
/*******************************************************************************/
/*******************************************************************************/

/* #region Media Queries */
@media (max-width: 1024px) {
  #yp-admin-pages {
    /* #region Dashboard */
    /* Leaderboard */
    .yp-card.yp-admin-dashboard-leaderboard-card {
        padding: 30px 25px;
    }
    /* #endregion Dashboard */

    /* #region One Time Assignment */
    .yp-days-after-wrapper {
      gap: 5px;
    }
    /* #endregion One Time Assignment */
  }
}

@media (max-width: 991px) {
  #yp-admin-pages {
    /* #region Page Add Course */
    .yp-course-window-settings-wrapper > div:not(:last-child)::after {
      width: 100%;
      height: 1px;
      top: unset;
      right: unset;    
      border-right: none;
      bottom: -15px;
      left: 0px;
      border-bottom: 1px dashed #CED2DA;
    }
    /* #endregion Page Add Course */
  }
}

@media (max-width: 575px) {
  #yp-admin-pages {
    /* #region Dashboard */
    .yp-admin-dashboard-stat-box {
      flex-direction: column;
      justify-content: start;
      gap: 15px;
      padding: 18px 10px 12px;
    }
    .yp-admin-dashboard-stat-box .yp-admin-dashboard-stat-box-info {
      text-align: center;
    }
    .yp-admin-dashboard-stat-box .yp-admin-dashboard-stat-box-count {
      font-size: 32px;
    }

    /* Chart */
    .yp-admin-chart-box {
        border-left: 1px solid #D9D9D9;
    }
    .yp-admin-chart-box-label-wrapper {
        padding-left: 38px;
    }
    .yp-admin-chart-box .yp-admin-chart-row {
        flex-direction: column;
        align-items: start;
        padding-bottom: 20px;
    }
    .yp-admin-chart-box .yp-admin-chart-row .yp-admin-chart-col-title {
      width: auto;
      padding: 0px
    }
    .yp-admin-chart-box .yp-admin-chart-row .yp-admin-chart-col-title p {
      max-width: none;
      padding-left: 3px;
      margin-bottom: 2px;
    }
    .yp-admin-chart-box .yp-admin-chart-row:first-child .yp-admin-chart-col-title p {
        margin-top: 15px;
    }
    .yp-admin-chart-box .yp-admin-chart-row:last-child .yp-admin-chart-col-title p {
      margin-top: 0px;
    }

    .yp-admin-chart-box .yp-admin-chart-row .yp-admin-chart-col-progress {
      padding: 0px !important;
      border-left: none;
    }
    .yp-admin-chart-x-axis,
    .yp-admin-chart-xy-labels .yp-admin-chart-x-label {
      margin-left: 0px;
    }

    /* Leaderboard */
    .yp-card.yp-admin-dashboard-leaderboard-card {
        padding: 25px 12px;
    }
    .yp-leaderboard-winners-box {
      margin-top: 80px;
    }
    .yp-leaderboard-winners-box .yp-leaderboard-winner {
      padding-left: 10px !important;
      padding-right: 10px !important;
    }
    .yp-leaderboard-winners-box .yp-leaderboard-winner:nth-child(2) img {
        top: -80px;
        max-width: 75px;
    }
    .yp-leaderboard-winners-box .yp-leaderboard-winner:first-child img, 
    .yp-leaderboard-winners-box .yp-leaderboard-winner:last-child img {
        top: -40px;
        max-width: 65px;
    }
    /* #endregion Dashboard */
  }
}
/* #endregion Media Queries */












